// MIXINS
box-shadow(a, b, c, color)
	-webkit-box-shadow a b c color
	-moz-box-shadow a b c color
	box-shadow a b c color

border-radius(a)
	-webkit-border-radius a
	-moz-border-radius a
	border-radius a


/* LOGIN */
.rememberme
	font-size 15px

.icono-accion
	font-size 1.5em

.hoverPointer
	background-color rgba(grey, .4)
	padding 7px
	border-radius 3px
	
.hoverPointer:hover
	cursor pointer
 
.num_unidades
	width 70px

.tdfijo
	width 180px important
	
 	